{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            
            background-color: #eae6da; 
            color: #5d5048; 
        }

        .navbar {
            background-color: #8d6c5c; 
            color: #fff; 
        }

        .navbar-brand img {
            height: 50px; 
            margin-right: 10px;
        }

        .login-container {
            border: 2px solid #8d6c5c; 
            padding: 20px;
            border-radius: 10px; 
            margin-top: 20px;
        }

        .btn-marron {
            background-color: #8d6c5c;
            border-color: #8d6c5c;
            color: #fff;
        }

        .center-text {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar">
        <a class="navbar-brand" href="http://localhost/Projet/public/index.php/accueil">
            <img src="{{ asset("media/logo.png") }}">
        </a>
    </nav>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 login-container">
                <h1 class="center-text">Login</h1>

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-marron">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
