{% extends 'base.html.twig' %}

{% block title %}{{ menu.titre }}{% endblock %}
{% block titre %}{{parent()|upper}} : {{ menu.getType()}} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url('{{ asset('media/m.png') }}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: #eae6da;
            color: #5d5048;
        }

        .card {
            margin-top: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #8d6c5c;
            color: #fff;
            text-align: center;
            font-size: 24px;
        }

        .card-body {
            padding: 20px;
        }

        .card-body p {
            font-size: 24px; 
        }

        .navbar-brand img {
            height: 50px;
            margin-right: 10px;
        }

        .btn-danger {
            background-color: #b56549;
            border-color: #b56549;
        }

        .btn-danger:hover {
            background-color: #944832;
            border-color: #944832;
        }

        .navbar {
            background-color: #8d6c5c;
            color: #fff;
        }

        .navbar-brand img {
            height: 50px;
            margin-right: 10px;
        }

        .nav-link {
            color: #fff;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar">
        <a class="navbar-brand" href="http://localhost/Projet/public/index.php/home2">
            <img src="{{ asset("media/logo.png") }}">
        </a>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 style="font-size: 36px; text-align: center;">{{ menu.titre }}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size: 24px;"><strong>Titre:   </strong> {{ menu.titre }}</p>
                        <p style="font-size: 24px;"><strong>Type:</strong> {{ menu.type }} </p>
                        <p style="font-size: 24px;"><strong>Nombres Calories:</strong> {{ menu.nbrcalories }} Calories</p>
                        <p style="font-size: 24px;"><strong>Prix:</strong> {{ menu.price }} Dnt</p>
                        <p style="font-size: 24px;"><strong>Ingredients:</strong>
                            {% for ingredient in lesIngredients %}
                                {% if ingredient.Menu.id == menu.id %}
                                    {{ ingredient.libelle }} ,
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ menu.image.url }}" width="390" height="320">
                    </div>
                </div>
            </div>

            <a href="../home2" class="btn btn-danger">Retour</a>
        </div>
    </div>
{% endblock %}
